//
// █▀█ █ █ ▀█▀ █▀█ █▀▀ ▀█▀ █▀█ █▀▄ ▀█▀
// █▀█ █ █  █  █ █ ▀▀█  █  █▀█ █▀▄  █ 
// ▀ ▀ ▀▀▀  ▀  ▀▀▀ ▀▀▀  ▀  ▀ ▀ ▀ ▀  ▀ 
// Add lines like this to spawn processes at startup.
// Note that running niri as a session supports xdg-desktop-autostart,
// which may be more convenient to use.
// See the binds section below for more spawn examples.

// This line starts waybar, a commonly used bar for Wayland compositors.
spawn-at-startup "awww-daemon"
spawn-at-startup "/usr/lib/polkit-kde-authentication-agent-1"
spawn-at-startup "~/.local/bin/sync-clipboard.sh"

// Clipboard Management
spawn-at-startup "sh" "-c" "wl-paste --type text --watch cliphist store"
spawn-at-startup "sh" "-c" "wl-paste --type image --watch cliphist store"
